<router-outlet></router-outlet>

<h2>Administration</h2>
<div class="administration">

  <div class="add-new-product">
    <h3>Add new product</h3>
    <div>
      <input #name [(ngModel)]="text" type="text" placeholder="Product name">
    </div>

    <div>
      <textarea [(ngModel)]="about" type="text" rows="10" cols="30" placeholder="About product"></textarea>
    </div>

    <button (click)="addProduct(text, about)">Add product</button>
  </div>

  <div class="editProduct">
    <h3>Edit product</h3>

    <input #name [(ngModel)]="newText" type="text" placeholder={{activeItem?.name}}>

    <textarea [(ngModel)]="newAbout" type="text" rows="10" cols="30" placeholder={{activeItem?.about}}></textarea>

    <button (click)="edit(newText, newAbout, activeItem.id)">Edit</button>

  </div>
</div>