.administration {
    display: flex;
	flex-direction: row;
	display: -webkit-flex;
}

.add-new-product {
    border: solid red 2px;
    display: flex;
	flex-direction: column;
    display: -webkit-flex;
    margin-right: 5px;
}

.editProduct {
    border: solid red 2px;
    display: flex;
	flex-direction: column;
    display: -webkit-flex;
    margin-right: 15px;
}

.log-out {
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    margin-top: 10px;
}