<h1>{{ title }}</h1>

<div class="product">
    <input  #name
        [(ngModel)]="text"
        type="text" placeholder="Product name">
</div>

<div class="aboutProduct">
    <textarea
    [(ngModel)]="about"
    type="text" rows="10" cols="30" placeholder="About product"></textarea>
</div>

<button (click)="addProduct(text, about)">Add product</button>

<ul>
    <li *ngFor="let item of product.productList" [class.done] = 'item.isDone'> 
        <a [routerLink]="['about', item.name]" [queryParams]="{'aboutProduct':item.about}">{{ item.name }}</a>
    </li>
</ul>